body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f3f4f6;
}
form{
    background: white;
    padding: 20px;
    border-radius: 10px;
}
 input,button{
    display: block;
    margin: 10px 0;
    padding: 10px;
 }